html {
    margin: auto;
    width: 1200px;
    overflow-x: hidden;
}
.menu {
	height:103px;
	text-align:center;
	margin-top:265px;
}
.menu ul {
	margin:0;
	padding-top:32px;
}
.menu li {
	list-style:none;
	display:inline;
	padding:20px 15px 0 15px;
	position: relative;
	top: -450px;
}
.menu li a {
	color:#ffffff;
	font-size:24px;
	text-decoration:none;
}
.menu li a:hover {
	color:#ff9c00;
	font-size:24px;
	text-decoration:none;
}
.menu #active a {
	color:#ff9c00;
	font-size:24px;
	text-decoration:none;
	
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#000000;
	color: #ffffff;
}
.logoBackground {
	background:#000000;
	width:300px;
}
.logo {
	color:#ff9c00;
	font-size:60px;
	padding:10px 0 0 30px;
}
.author {
	padding:0 0 10px 30px;
	color:#707070;
}
.author a {
	color:#707070;
}



h1 {
	position: relative;
    top: -300px;
    color: #ff9c00;
    text-decoration: none;
    text-align: left;
}

p {
	text-align: left;
	font-size: 14px;
	color: wheat;
	top: -300px;
	position: relative;
}
#pievienot {
	display: flex;
	justify-content: center;
	align-items: center;
}

#jaunaAtsauksme {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 25px;
	font-size: 14px;
	position: relative;
	text-align: left;
	top: -400px;
	right: -400px;

}

input#vards {
	height: 30px;
	width: 200px;
	font-size: 14px;
	border: solid 2px #ffffff;
}

input#auto {
	height: 30px;
	width: 200px;
	font-size: 14px;
	border: solid 2px #ffffff;
}

input#atsauksme {
	height: 30px;
	width: 200px;
	font-size: 14px;
	border: solid 2px #ffffff;
}

#Uzlecosais_logs {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ff9c00;
    font-size: 14px;

}

#form {
    background-color: cornsilk;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 25%;
}

#pievienotAtsauksmi {
    font-size: 20px;
    height: 30px;
    width: 150px;
    border: solid 2px #ffffff;
    border-radius: 15px;
}