/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}

:root{
  --main-color: #fe5b3d;
  --second-color: #ffac38;
  --text-color: #444;
  --gradient: linear-gradinet(#fe5b3d #ffac38);

}

/* Costumized scroolbar */
html::-webkit-scrollbar{
  width: 0.5rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: var(--main-color);
  border-radius: 5rem
}
section{
  padding: 50px 100px;
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
  padding: 15px 100px;
}

/* Logo sizing */
.logo img{
  width: 50px;
}

/* Navigation bar */
.navigation-bar {
    display: flex;
}
.navigation-bar li{
    position: relative;
}
.navigation-bar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}


/* menu icons */
#menu-icon{
  font-size: 25px;
  cursor: pointer;
  z-index: 10000;
  display: none;
}

/* Header Buttons
Sign in and Sign on*/
.headerButton{
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 300;
  font-size: 30px;
}

.headerButton .sign-in {
  background: blue;
  color: white;
  border-radius: 0.5rem;
}

.headerButton .sign-in:hover{
  background: var(--main-color);
}

/* Home screen and background */
.home-screen {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url(static/img/background.jpg);
  background-position: center right;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}


/*texts index page*/
.h1 {
  font-size:  70px;
  letter-spacing: 2px;

}

.text span {
  color: var(--main-color);
}

.text p{
  margin: 0;
}

/* App store images in index page*/

.app-stores p{
  font-size: 20px;
  color: var(--text-color);
}

.app-stores img{
  width: 100px;
  margin-right: 1rem;
  cursor: pointer;

}

.container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  position: absolute;
  bottom: 7rem;
  left: 50px;
  background: white;
  padding: 20px;
  border-radius: 0.5rem;
}
/* about page */

.h2{
  font-size: 20px;
  letter-spacing: 3px;
  top: 200px;
  position: relative;
} 

.h3{
  height: 50px;
  width: 100%;
  color: #ffac38
}

about-screen h3{
  font-size: 40px;
  left: 0px;
  position: relative;
  top: -10px;

}

/* Ride page */
.leftContent h1{
  

}