<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZZ CAR RENTAL</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
  <!--Header-->
  <header>
  <a href="#" class="logo"><img src="static/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <!--Navigation bar -->
  <ul class="navigation-bar">
    <li><a href="home">Home</a></li>
    <li><a href="ride">Ride</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="about">About</a></li>
    <li><a href="reviews">Reviews</a></li>
  </ul>
  <div class="header-btn">
    <a href="signin" class="sign-up">Sign Up</a>
  </div>
  </header>

  <!-- Section for about -->

  <section class="home-screen" id="home-screen">
    <img src="static/img/ABOUT-PAGE.jpg" alt="about-page.img " width="400px" height="300px">
    <div class="about-screen">
      <br>
      <br>
      <h2>ZZ CAR RENTAL</h2>
      <h3>We are a proven company that is trusted by multiple users </h3>
      <br>
      <p>We work as intermediaries who compile requests from customers with car owners</p>
      <br>
      <h4>How our process works</h4>
      <br>
      <p>1. Our clients put order requests in our website </p>
      <br>
      <p>2. We process client orders and check if those dates are available</p>
      <br>
      <p>3. We contact with our car owners and process details with them about client orders</p>
      <br>
    <div class="ads">
      <script data-num-rows="1"
src="https://s3-us-west-2.amazonaws.com/kaboodle/kaboodle.js"
type="text/javascript"></script> 
      
      
    </div>

  



