<html>
    <head>
        <title> Autonoma </title>
        <link href="static/css/index.css" rel="stylesheet">
     
    </head>
    <body>
		<div class="logoBackground">
  	<div class="logo"><h6>Atgriezt automašīnu<h6></div>
    
  </div>
		<div class="menu">
  	<ul>
    	<li><a href="/">Sākums</a></li>
        <li><a href="/klienti">Klienti</a></li>
		<li><a href="/soferis">Šoferis</a></li>
        <li id="active"><a href="">Atgriezt automašīnu</a></li>
        <li><a href="/rezervet">Rezervē auto</a></li>
    <li><a href="/zinot">Ziņot</a></li>
		<li><a href="/par">Par mums</a></li>
    </ul>
  </div>
	
<div class="leftContent">
	<h1> NOMAS RĒĶINS </h1><br><br>
    Ievadiet nomas rēķina Numuru: <input type="text" name="rid"/><br><br>
<input type="submit" name="enter" value="Enter">
</form>
	
	</body>
	</html>