<html>
<head>
    <title>ZZ Autonoma </title>
    <link href="static/css/index.css" rel="stylesheet">
     
</head>
<body>

<div id="header">
  
<div class="logoBackground">
<div class="logo">ZZ Autonoma</div>
<div class="author">Kvalitatīvi transportlīdzekļi</div>

</div>
<img src="static/img/home.img/ZZ_AUTO_NOMA.png" class="fons">

<div class="menu">
  <a href="">Sākums</a>
  <a href="/klienti">Klienti</a>
  <a href="/soferis">Šoferis</a>
  <a href="/atgriezt">Atgriezt automašīnu</a>
  <a href="/rezervet">Rezervē auto</a>
  <a href="/zinot">Ziņot</a>
  <a href="/par">Par mums</a>

</div>
</div>
</div>
</div>

               
	   
	    
</body>
</html>