<html>
<head>
    <title>ZZ Autonoma </title>
    <link href="static/css/index.css" rel="stylesheet">
     
</head>
<body>

<div id="header">
  
<div class="logoBackground">
<div class="logo">ZZ Autonoma</div>
<div class="author">Kvalitatīvi transportlīdzekļi</div>

</div>
<img src="static/img/home.img/ZZ_AUTO_NOMA.png" class="fons">
<div class="menu">
<ul>
<li id="active"><a href="">Sākums</a></li>
<li><a href="klienti.html">Klienti</a></li>
<li><a href="soferis.html">Šoferis</a></li>
<li><a href="book.html">Rezervē auto</a></li>
<li><a href="atgriez.html">Atgriezt automašīnu</a></li>
<li><a href="zino.html">Ziņot</a></li>
<li><a href="par.html">Par mums</a></li>

</ul>
</div>
</div>
</div>
</div>

               
	   
	    
</body>
</html>