<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width-device-width">
    <title>ZZ AUTONOMA</title>
    <link href="index.css"
    rel="stylesheet" type="text/css" />
</head>



<body>
  <div id="galvenais-logo">
  <div class="logo">ZZ AUTONOMA</div>
  
  <h1>Mūsu galvenais uzdevums ir nodrošināt jūsu drošību lietojot mūsu transportlīdzekļus</h1>

  <ul id="menu">
    <li id="active"><a href="/">Sākums</a></li>
    <li><a href="/klienti">Klienti</a></li>
    <li><a href="/rezervet">Rezervēt un atgriezt</a></li>
    <li><a href="/atsauksmes">Atsauksmes</a></li>
    <li><a href="/par">Par mums</a></li>


    <script src="script.js"></script>
</body>