<html>
<head>
    <title>ZZ Autonoma </title>
    <link href="static/css/klienti.css" rel="stylesheet"  >
     
</head>
<body>

<div id="header">
  
<div class="logoBackground">
<div class="logo">ZZ Autonoma</div>
<div class="author">Kvalitatīvi transportlīdzekļi</div>

</div>
<div class="menu">
<ul>
<li id="active"><a href="/">Sākums</a></li>
<li><a href="/klienti">Klienti</a></li>
<li><a href="/soferis">Šoferis</a></li>
<li><a href="/atgriezt">Atgriezt automašīnu</a></li>
<li><a href="/rezervet">Rezervē auto</a></li>
<li><a href="/zinot">Ziņot</a></li>
<li><a href="/par">Par mums</a></li>

<div class="gods">
    <h1>Atsauksmes no klientiem</h1>
    <p>Mēs ļoti novērtējam katru novērtējumu un autsauksmes, tāpēc katram kas ir izīrējis auto, lūdzam</p>
    <p>šo aizpildīt</p>
</div>

<div id="pievienot">
    <button id="jaunaAtsauksme">Pievienot atsauksmi</button>
    
</div>

<div id="Uzlecosais_logs">
    <form id="form">
        <h2>Pievienot jaunu atsauksmi</h2>
        <input type="text" id="vards" placeholder="Vārds">
        <input type="text" id="auto" placeholder="Auto">
        <input type="text" id="atsauksme" placeholder="Atsauksme">
        <button type="submit" id="pievienotAtsauksmi">Pievienot</button>
    </form>
</div>

<div id="atsauksmes">
</div>

<script src="js/scripts.js"></script>

</body>
</html>