<html>
<head>
    <title>ZZ Autonoma </title>
    <link href="par.css" rel="stylesheet"  >
     
</head>
<body>

<div id="header">
  
<div class="logoBackground">
<div class="logo">ZZ Autonoma</div>
<div class="author">Kvalitatīvi transportlīdzekļi</div>

</div>
<div class="menu">
<ul>
<li id="active"><a href="index.html">Sākums</a></li>
<li><a href="klienti.html">Klienti</a></li>
<li><a href="soferis.html">Šoferis</a></li>
<li><a href="book.html">Rezervē auto</a></li>
<li><a href="atgriez.html">Atgriezt automašīnu</a></li>
<li><a href="zino.html">Ziņot</a></li>
<li><a href="par.html">Par mums</a></li>


<div class="atrasanas_vieta">
    <h1>Kur mēs atrodamies</h1>
    <p>Nomas punkts atrodas Purvciema centrā</p>
<div class="piedavajums">
    <h2>Ko mēs piedāvājam?</h2>
    <table>
        <tr>
            <th>Piedāvājums</th>
            <th>Automašīnas tips kas veiks</th>
            <th>Cena no EUR/H</th>
        </tr>
        <tr>
            <td>Limuzīna pārvadājumi ar šoferi</td>
            <td>Limuzīns</td>
            <td>No 50 EUR/H</td>
        </tr>
        <tr>
            <td>Brīvi izbraucieni pa Latviju</td>
            <td>Auto pēc izvēles</td>
            <td>Cena no auto nomas cenas</td>
        </tr>
        <tr>
            <td>Kāzas</td>
            <td>Auto pēc izvēles</td>
            <td>Cena pēc vienošanās</td>
        </tr>
        <tr>
            <td>Dzimšanas dienas pasākumiem</td>
            <td>Auto pēc izvēles</td>
            <td>Cena pēc vienošanās</td>
        </tr>
        <tr>
            <td>Un daudz kas cits</td>
            <td></td>
            <td></td>
        </tr>
    </table>
<br>
<br>
<br>
<br>
<div class="papildus">
<h3>Papildus piedāvājumi</h3>
    <table>
        <tr>
            <td>Dažādi šoferi</td>
        </tr>
        <tr>
            <td>Minī bāri</td>
        </tr>
        <tr>
            <td>Un daudz kas cits pēc vienošanās</td>
        </tr>
    </table>
</div>
</div>
</div>
</ul>
</div>
</div>
</div>
</div>
</body>
</html>