<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZZ CAR RENTAL</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link href="static/css/styles.css"
</head>
<body>
  <!--Header-->
  <header>
  <a href="#" class="logo"><img src="static/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <!--Navigation bar -->
  <ul class="navigation-bar">
    <li><a href="home">Home</a></li>
    <li><a href="ride">Ride</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="about">About</a></li>
    <li><a href="reviews">Reviews</a></li>
  </ul>
  <div class="header-btn">
    <a href="#" class="sign-up">Sign Up</a>
    <a href="#" class="sign-in">Sign in</a>
  </div>
  </header>

  <div class="reputation">
    <h1>Reviews from clients</h1>
    <p>We really apreciate every review from our clients</p>
    <br>
    <p>Please fill this form</p>
  </div>

  <div id="add">
    <button id="newReview">Add review</button>
  </div>

  <div id="pop-up">
    <form id="form">
        <h2>Add review</h2>
        <input type="text" id="name" placeholder="Your name">
        <input type="text" id="auto" placeholder="Auto">
        <input type="text" id="review" placeholder="Your review">
        <button type="submit" id="AddReview">Add</button>
    </form>
</div>

<div id="review">
</div>



