<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZZ CAR RENTAL</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
  <!--Header-->
  <header>
  <a href="#" class="logo"><img src="static/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <!--Navigation bar -->
  <ul class="navigation-bar">
    <li><a href="home">Home</a></li>
    <li><a href="ride">Ride</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="about">About</a></li>
    <li><a href="reviews">Reviews</a></li>
  </ul>
  <div class="header-btn">
    <a href="signin" class="sign-up">Sign Up</a>
  </div>
  </header>

  <div class="reputation">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Reviews from clients</h1>
    <p>We really apreciate every review from our clients</p>
    <br>
    <p>Please fill this form</p>
  </div>


  <h2>Reviews from our clients</h2>
  
  
  <div id="button">
    <button id="newReview">Your review </button>
  </div>

  <div id="popUp">
    <form id="form">
      <h3>Add your review</h3>
      <input type="text" id="rented-car" placeholder="Car that you rented">
      <input type="text" id="person-name" placeholder="Your name">
      <input type="text" id="persons-review" placeholder="Your review">
      <button id="addReview">Add review to website</button>
    </form>
  </div>

  <div id="webReviews">
  </div>

  <!-- Link to JS -->
  <script src="static/js/main.js"></script>
  </body>
  </html>




