<!DOCTYPE >
<html>
<head>
    <title>ZZ Autonoma </title>
    <link href="static/css/book.css" rel="stylesheet">
     
</head>
<body>

<div id="header">
  
<div class="logoBackground">
<div class="logo">ZZ Autonoma</div>
<div class="author">Kvalitatīvi transportlīdzekļi</div>

</div>
    
  </div>
		<div class="menu">
  	<ul>
    	<li><a href="/">Sākums</a></li>
        <li><a href="/klienti">Klienti</a></li>
		<li><a href="/soferis">Šoferis</a></li>
        <li><a href="/atgriez">Atgriezt automašīnu</a></li>
        <li id="active"><a href="">Rezervē auto</a></li>
		<li><a href="/zinot">Ziņot</a></li>
		<li><a href="/par">Par mums</a></li>
    </ul>
  </div>
	
<div class="leftContent">
		<h1> Īrēt automobīli </h1><br><br>
Ievadiet klienta ID: <input type="text" name="cbid"/><br><br>
Ievadiet datumu yyyy-mm-dd: <input type="text" name="Sdate"/><br><br>
Izvēlieties automašīnas tipu: <select name = "Ctype">
<option>Kompakts</option>
<option>Vidējs</option>
<option>Liels</option>
<option>Džips</option>
<option>Busiņš</option>
<option>Smagā mašīna</option>
</select><br><br>
Īres veids: <select name = "Rtype">
<option>Katru dienu</option>
<option>Iknedēļas</option>
</select><br><br>
Dienu skaits : <select name = "Days">
<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option>
</select><br><br>
Nedēļu skaits : <select name = "Weeks">
<option>0</option><option>1</option><option>2</option><option>3</option>
</select><br><br>
<input type="submit" name="check" value="Pārbaudīt pieejamību"><br><br>

Ievadiet transportlīdzekļa  id: <input type="text" name="Vehicleid"/><br><br>
<input type="submit" name="book" value="Book">
</form></b>	

<br>
		<h2> SKATĪT AKTĪVĀS UN PLĀNOTĀS NOMAS </h2>
		<input type="submit" name="submit1" value="apskatīt">
</form></b>
    </div>	
	
	
	<div class="rightContent">


	</div>
	
	</body>
	</html>