<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZZ CAR RENTAL</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
  <!--Header-->
  <header>
  <a href="#" class="logo"><img src="static/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <!--Navigation bar -->
  <ul class="navigation-bar">
    <li><a href="home">Home</a></li>
    <li><a href="ride">Ride</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="about">About</a></li>
    <li><a href="reviews">Reviews</a></li>
  </ul>
  <div class="header-btn">
    <a href="#" class="sign-up">Sign Up</a>
    <a href="#" class="sign-in">Sign in</a>
  </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  
  <div class="leftContent">
    <b><form action="registercar.js" method="post" >
	<h1> Add car </h1>
	License nr: <input type="text" name="lno"/><br><br>
	Model: <input type="text" name="model"/><br><br>
	Year : <input type="text" name="year"/><br><br>
	CAR type: <select name = "Cartype">
<option>Compact</option>
<option>Medium</option>
<option>Big</option>
<option>SUV</option>
<option>Van</option>
<option>Truck</option>
<h2>Type information about you : </h2><br>
ID number: <input type="text" name="uid"/><br><br>
Name: <input type="text" name="oname"/><br><br>
CITY : <input type="text" name="city"/><br><br>
<input type="submit" name="submit" value="Register">
</form></b>	
    </div>	
	
	
	<div class="rightContent">
	<h1> View cars and costs</h1>
	<form action="viewcar.js" method="post">
		To show, pick car type: <select name="Ctype">
<option>Compact</option>
<option>Medium</option>
<option>Big</option>
<option>SUV</option>
<option>Bus</option>
<option>Truck</option>
</select>
<input type="submit" name="submit1" value="View">
</form>

<br><br><br><br>

<h1> 
	Refresh car rent costs </h1>
<form action="update.js" method="post">
	To refresh, pick car type: <select name = "Ctype">
<option>Compact</option>
<option>Medium</option>
<option>Big</option>
<option>SUV</option>
<option>Bus</option>
<option>Truck</option>
</select><br><br>

Day costs: <input type="text" name="udrate"/><br><br>
Week costs: <input type="text" name="uwrate"/><br><br>
<input type="submit" name="submit1" value="Update">
</form>
	</div>
	
	</body>
	</html>
  