<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZZ CAR RENTAL</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
  <!--Header-->
  <header>
  <a href="#" class="logo"><img src="static/img/jeep.png" alt=""></a>

  <div class="bx bx-menu" id="menu-icon"></div>

  <!--Navigation bar -->
  <ul class="navigation-bar">
    <li><a href="home">Home</a></li>
    <li><a href="ride">Ride</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="about">About</a></li>
    <li><a href="reviews">Reviews</a></li>
  </ul>
  <div class="header-btn">
    <a href="signin" class="sign-up">Sign Up</a>
  </div>
  </header>


  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="services">
    <h1>Services that we provide</h1>
    <table border="5" width="100%">
      <tr>
        <th>Provided service </th>
        <th>Description</th>
        <th>Price</th>
      </tr>

      <tr>
        <td>Car rent</td>
        <td>After all procesing and receiving payment. We give you car for your specified time</td>
        <td>From 40-600 EUR/DAY</td>
      </tr>

      <tr>
        <td>Wehicle transporting to home</td>
        <td>For extra price we deliver your rented car to your home driveway</td>
        <td>FROM 30-40 EUR/50 KM</td>
      </tr>

      <tr>
        <td>Driver rental</td>
        <td>If you rent LIMO type vehicle you can for extra price rent our driver.</td>
        <td>10 EUR/ 5 hours</td>
      </tr>

    </table>
  </div>

  <div class="information">
    <h2>These are some of our most popular services</h2>
    <h3>For extra information about our services contact our information line</h3>
    <br>
    <p>+671 45 24 35 76</p>

    
      

      
  
  