
    <head>
        <title>ZZ Autonoma </title>
        <link href="static/css/index.css" rel="stylesheet"  >
     
    </head>
    <body>
		<div class="logoBackground">
  	<div class="logo"><h6>Šoferis<h6></div>
    
  </div>
		<div class="menu">
  	<ul>
    	<li><a href="/">Sākums</a></li>
        <li><a href="/klienti">Klienti</a></li>
		<li id="active"><a href="">Šoferis</a></li>
        <li><a href="/atgriezt">Atgriezt automašīnu</a></li>
        <li><a href="/rezervet">Rezervē auto</a></li>
		<li><a href="/zinot">Ziņot</a></li>
		<li><a href="/par">Par mums</a></li>
    </ul>
  </div>
	<div class="leftContent">
	<h1> Pievienot šoferi </h1>
Vārds: <input type="text" name="fname"/><br><br>
Uzvārds: <input type="text" name="lname"/><br><br>
Vecums : <input type="text" name="age"/><br><br>
Mobīlais: <input type="text" name="mobile"/><br><br>
Braukšanas licenses Nr: <input type="text" name="dlno"/><br><br>

<input type="submit" name="submit" value="Register">
</form></b>	
    </div>	

		
	<div class="rightContent">
	<h1> Pārlūkot šoferi </h1>
	<input type="submit" value="View"/>
	</form></b>	
	</div>
	
	</body>
	</html>